services:
  api:
    build:
      context: ./api
    ports:
      - "8000:8000"

  ui:
    build:
      context: ./ui
    environment:
      - API_URL=http://api:8000
    ports:
      - "8501:8501"
    depends_on:
      - api
